.contact-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    width: auto;
    max-height: 72px;
    border-radius: 12px;
}

.contact-item-container:hover {
    background-color: #f5f5f5;
}

.contact-item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    min-height: 72px;
    margin-left: 10px;
}

.contact-item-avatar img {
    display: flex;
    border-radius: 50%;
    width: 49px;
    height: 49px;
}

.contact-item-target {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
    gap: 5px;
    padding-right: 10px;
}

.contact-item-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
}

.contact-item-name {
    color: black;
    font-weight: 500;
}

.contact-item-last {
    font-size: 14px;
    color: gray;
    font-weight: 500;
}
