.A {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.aa {
    width: 3.5%;
    background-color: #F7F5F3;
}

.ab {
    width: 29.5%;
    border-right: 1px solid #ddd;
    background-color: transparent;
}

.ac {
    width: 67%;
    background-image: url('../public/FondoTP.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    
    overflow: hidden;
    overflow-y: scroll;
    
}

/* .ac img {
    width: 100%;
    height: 100%;
    background-image: url('../public/fondo_espejado.jpg;
    
} */